.bodyContainer{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    background-size: 100%;
    background-color: black;
    color: rgb(255, 243, 181);
}

*{
    margin: 0;
    padding: 0;
}

.mainCharacterView{

width: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.left{

}
.right{
    
}

.nameBox{
    border: 1px solid rgb(0, 0, 0);
    width: 25vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px rgb(255, 187, 0);

}

.log
{
    width: 30vw;
    border: 1px solid rgb(0, 0, 0);
    height: 10vh;
    background-color: rgb(29, 0, 29);
    text-align: center;
    display: flex;
    color: rgb(200, 229, 255);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-shadow: 0px 0px 20px 10px rgb(30, 30, 30);
}

.playerImage{
    border: 1px solidblack;
    width: 30vw;
    height: 40vh;
    background-image: url("./images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px rgb(0, 110, 255);
}

.playerStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px rgb(255, 31, 31);
    border-radius: 2%;


}
.enemyImage{
    border: 1px solidblack;
    width: 30vw;
    height: 35vh;
    background-image: url("./images/enemy.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 10px rgb(94, 255, 124);
    

    
}
.enemyStats{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solidblack;
    width: 15vw;
    height: 15vh;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    box-shadow: 0px 0px 20px 10px rgb(1, 255, 238);

}