.navBar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 23px;
    padding-left: 1in;
    padding-right: 1in;
    margin-left: 3in;
    margin-right: 3in;
}

.navBar1
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 23px;
    padding-left: 1in;
    padding-right: 1in;
    margin-left: 5in;
    margin-right: 3in;
}
.navBar2
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 23px;
    padding-left: 1in;
    padding-right: 1in;
    margin-left: 7in;
    margin-right: 3in;
}
.navBar3
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    word-spacing: 23px;
    padding-left: 1in;
    padding-right: 1in;
    margin-left: 9in;
    margin-right: 3in;
}

.e{
    text-align:center;
    width: 550px;
    display: flex;
    background-color: #000000;
    color: rgb(106, 255, 0);
    word-spacing: 5px;
    translate: 380px;
    font-size: x-large;
}

span
{
    font-size: 70px;
    color: #18ffc1;
    margin-left: 10px;
    margin-right: 10px;
}

.ctan
{
    text-align:center;
    box-sizing: border-box;
    border: black;
    border-style:solid;
    border-spacing: 10px;
    box-sizing:border-box;
    width: fit-content;
}

.WidgetW
{
    display: flex;
    width: 1000px;
    position: relative;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    background-color: #000000;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    background: #000000;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
    text-align: center;
    font-family:sans-serif;
}

.ad2{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}

.ad3
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}

.ad4
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}

.ad5
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}
.ad6
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}
.ad7
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff7, 0 0 30px #18ffc1, 0 0 40px #18f7ff, 0 0 55px #18ff78, 0 0 75px #18ff4a;
}

.quo1
{
    padding-left: 2in;
}
.quo2
{
    padding-left: 3in;
}
.quo3
{
    padding-left: 5in;
}

.ctn
{
    display: block;
    background-color: #000000;
    width: 100%;
}

.cnter
{
    
}

html
{
    color: #18ff4a;
    background-color: #232323;
}